<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="title"
      content="好運從天降|好運龍來！開運過好年 | 三立新聞網 SETN.COM"
    />
    <meta
      name="description"
      content="龍年快來搶紅包，超狂大獎等你帶走！2024農曆春節連假，快到《三立新聞網》登入會員玩遊戲，限定好禮送給你，讓你龍年開運Happy一整年！"
    />
    <meta
      name="Keywords"
      content="龍年,龍年2024,過年,過年 2024,農曆春節,春節,春節連假,2024春節,2024春節連假,2024過年,農曆春節2024,農曆新年2024,農曆新年,農曆年,龍年運勢,龍年運程,龍年紅包,過年活動,春節活動,抽獎活動,活動,三立新聞網"
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="好運從天降|好運龍來！開運過好年 | 三立新聞網 SETN.COM"
    />
    <meta
      property="og:description"
      content="龍年快來搶紅包，超狂大獎等你帶走！2024農曆春節連假，快到《三立新聞網》登入會員玩遊戲，限定好禮送給你，讓你龍年開運Happy一整年！"
    />
    <meta
      property="og:image"
      content="https://acts.setn.com/event/2024cny/imgs/FbSharepicture.png"
    />
    <meta property="og:url" content="https://acts.setn.com/event/2024cny" />
    <link rel="shortcut icon" href="./favicon.ico" />
    <title>好運從天降|好運龍來！開運過好年 | 三立新聞網 SETN.COM</title>
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="./css/common.css" />
    <link rel="stylesheet" href="./css/menber.css" />
    <link rel="stylesheet" href="./css/redEnvelope.css" />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap"
      rel="stylesheet"
    />

    <script src="./js/vue.min.js"></script>

    <!-- ad script -->

    <script
      async
      src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"
    ></script>
    <script>
      window.googletag = window.googletag || { cmd: [] };
      googletag.cmd.push(function () {
        googletag
          .defineSlot(
            "/21685920852/setn_event_2024cny_m_320x100",
            [320, 100],
            "div-gpt-ad-1705307808192-0"
          )
          .addService(googletag.pubads());
        googletag
          .defineSlot(
            "/21685920852/setn_event_2024cny_m_320x100_2",
            [320, 100],
            "div-gpt-ad-1705307808192-2"
          )
          .addService(googletag.pubads());
        googletag
          .defineSlot(
            "/21685920852/setn_event_2024cny_m_320x100_3",
            [320, 100],
            "div-gpt-ad-1705307808192-3"
          )
          .addService(googletag.pubads());
        googletag
          .defineSlot(
            "/21685920852/setn_event_2024cny_728x90",
            [728, 90],
            "div-gpt-ad-1705307879217-0"
          )
          .addService(googletag.pubads());
        googletag.pubads().enableSingleRequest();
        googletag.pubads().collapseEmptyDivs();
        googletag.enableServices();
      });
    </script>

    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-NZ3723M");
    </script>
    <!-- End Google Tag Manager -->
    <!-- Begin comScore Tag -->
    <script>
      var _comscore = _comscore || [];
      _comscore.push({ c1: "2", c2: "20617561" });
      (function () {
        var s = document.createElement("script"),
          el = document.getElementsByTagName("script")[0];
        s.async = true;
        s.src =
          (document.location.protocol == "https:" ? "https://sb" : "http://b") +
          ".scorecardresearch.com/beacon.js";
        el.parentNode.insertBefore(s, el);
      })();
    </script>
    <!-- End comScore Tag -->
  </head>

  <body>
    <div id="app" v-cloak>
      <h1 class="google-text">好運龍來 | 開運過好年 | 2024</h1>

      <div class="share_bt">
        <ul>
          <li>
            <a
              class="fb-share-btn"
              href="https://www.facebook.com/sharer/sharer.php?u=https://acts.setn.com/event/2024cny/index.html"
              target="_blank"
              title="Facebook分享"
            >
              <img
                class="fb-share"
                src="./imgs/fbshareicon.png"
                alt="fbshareicon"
                srcset="./imgs/facebook@2x.png 2x, ./imgs/facebook@3x.png 3x"
              />
              <img
                class="fb-share-1"
                src="./imgs/fb-share-1.png"
                alt="fbshareicon"
                srcset="
                  ./imgs/fb-share-1@2x.png 2x,
                  ./imgs/fb-share-1@3x.png 3x
                "
              />
            </a>
          </li>
          <li>
            <a
              class="line-share-btn"
              href="https://social-plugins.line.me/lineit/share?url=https://acts.setn.com/event/2024cny/index.html"
              target="_blank"
              title="Line分享"
            >
              <img
                class="line-share"
                src="./imgs/shareICON.png"
                alt="shareICON"
                srcset="./imgs/shareICON@2x.png 2x, ./imgs/shareICON@3x.png 3x"
              />

              <img
                class="line-share-1"
                src="./imgs/line-share-1.png"
                alt="shareICON"
                srcset="
                  ./imgs/line-share-1@2x.png 2x,
                  ./imgs/line-share-1@3x.png 3x
                "
              />
            </a>
          </li>
        </ul>
      </div>

      <div class="toTop toTop-wrapper">
        <img
          class="toTopBtn"
          @click="toTop"
          v-if="!isAtTop"
          src="./imgs/top.png"
          alt="fbshareicon"
          srcset="./imgs/top@2x.png 2x, ./imgs/top@3x.png 3x"
        />

        <img
          class="toTop top-1"
          @click="toTop"
          v-if="!isAtTop"
          src="./imgs/top-1.png"
          alt="fbshareicon"
          srcset="./imgs/top-1@2x.png 2x, ./imgs/top-1@3x.png 3x"
        />
      </div>

      <!-- Menu Start -->
      <nav class="menu-block">
        <a href="https://www.setn.com" target="_blank">
          <img
            class="logo"
            src="./imgs/SETN.png"
            alt="logo"
            srcset="./imgs/SETN@2x.png 2x, ./imgs/SETN@3x.png 3x"
            v-if="!isMobile"
          />
        </a>
        <ul class="menu-area" v-if="!isMobile">
          <li>
            <a href="index.html">活動首頁</a>
          </li>
          <li>
            <a href="spinToWin.html">幸運大轉盤</a>
          </li>
          <li>
            <a class="active" href="redEnvelope.html">好運從天降</a>
          </li>
          <li><a href="drawLots.html">財運滾滾來</a></li>
          <li><a href="specialShow.html">過年特別節目</a></li>
          <li><a href="festival.html">春節連假攻略</a></li>
          <li class="loginWrapper">
            <a @click="login" href="#" class="web-login-btn">
              <img
                src="./imgs/avatar.png"
                alt="avatar"
                v-if="!isLogin"
                class="initial-svg"
                srcset="./imgs/avatar@2x.png 2x, ./imgs/avatar@3x.png 3x"
              />
              <img
                src="./imgs/avatarlogout.png"
                alt="avatar"
                srcset="
                  ./imgs/avatarlogout@2x.png 2x,
                  ./imgs/avatarlogout@3x.png 3x
                "
                class="logout-icon"
                v-else
              />

              <!-- hover -->

              <img
                src="./imgs/avatarhover.png"
                alt=""
                class="hover-svg"
                v-if="!isLogin"
                srcset="
                  ./imgs/avatarhover@2x.png 2x,
                  ./imgs/avatarhover@3x.png 3x
                "
              />

              <!-- hover-logout -->

              <img
                src="./imgs/avatarlogout2.png"
                alt=""
                srcset="
                  ./imgs/avatarlogout2@2x.png 2x,
                  ./imgs/avatarlogout2@3x.png 3x
                "
                class="logout-hover-svg"
                v-else
              />

              {{isLogin ? '登出': '登入'}}
            </a>
          </li>
        </ul>

        <div class="mb-login-wrapper" v-if="isMobile">
          <a href="https://www.setn.com/" target="_blank">
            <img
              class="logo"
              src="./imgs/SETN.png"
              alt="logo"
              srcset="./imgs/SETN@2x.png 2x, ./imgs/SETN@3x.png 3x"
            />
          </a>

          <a @click="login" href="#" class="mb-aTag">
            <img
              src="./imgs/avatar.png"
              alt="avatar"
              v-if="!isLogin"
              class="mb-login-icon"
              srcset="./imgs/avatar@2x.png 2x, ./imgs/avatar@3x.png 3x"
            />
            <img
              src="./imgs/avatarlogout.png"
              alt="avatar"
              srcset="
                ./imgs/avatarlogout@2x.png 2x,
                ./imgs/avatarlogout@3x.png 3x
              "
              class="mb-logout-icon"
              v-else
            />

            <!-- hover -->

            <img
              src="./imgs/avatarhover.png"
              alt=""
              class="mb-hover-svg"
              v-if="!isLogin"
              srcset="
                ./imgs/avatarhover@2x.png 2x,
                ./imgs/avatarhover@3x.png 3x
              "
            />

            <!-- hover-logout -->

            <img
              src="./imgs/avatarlogout2.png"
              alt=""
              srcset="
                ./imgs/avatarlogout2@2x.png 2x,
                ./imgs/avatarlogout2@3x.png 3x
              "
              class="logout-hover-svg"
              v-else
            />
          </a>
        </div>
        <ul class="mb-menu-area" v-if="isMobile">
          <li>
            <a href="index.html">
              <img
                class="index-icon"
                src="./imgs/home.png"
                alt="index-icon"
                srcset="./imgs/home@2x.png 2x, ./imgs/home@3x.png 3x"
              />
            </a>
          </li>
          <li>
            <a href="spinToWin.html">
              <img
                class="spinToWin-icon"
                src="./imgs/lucky-wheel.png"
                alt="spinToWin-icon"
                srcset="
                  ./imgs/lucky-wheel@2x.png 2x,
                  ./imgs/lucky-wheel@3x.png 3x
                "
              />
            </a>
          </li>
          <li>
            <a href="redEnvelope.html">
              <img
                class="redEnvelope mb-active"
                src="./imgs/red-packet.png"
                alt="redEnvelope"
                srcset="
                  ./imgs/red-packet@2x.png 2x,
                  ./imgs/red-packet@3x.png 3x
                "
              />
            </a>
          </li>
          <li>
            <a href="drawLots.html">
              <img
                class="drawLots"
                src="./imgs/stick-bucket.png"
                alt="drawLots"
                srcset="
                  ./imgs/stick-bucket@2x.png 2x,
                  ./imgs/stick-bucket@3x.png 3x
                "
              />
            </a>
          </li>
          <li>
            <a href="specialShow.html">
              <img
                class="player"
                src="./imgs/player.png"
                alt="player"
                srcset="./imgs/player@2x.png 2x, ./imgs/player@3x.png 3x"
              />
            </a>
          </li>
          <li>
            <a href="festival.html">
              <img
                class="idea"
                src="./imgs/idea.png"
                alt="idea"
                srcset="./imgs/idea@2x.png 2x, ./imgs/idea@3x.png 3x"
              />
            </a>
          </li>
        </ul>
      </nav>

      <!-- Menu End -->

      <!-- 主內容 Start -->
      <div class="container">
        <section class="dragonWapper">
          <img
            src="./imgs/bg2-lanternflower.png"
            srcset="
              ./imgs/bg2-lanternflower@2x.png 2x,
              ./imgs/bg2-lanternflower@3x.png 3x
            "
            alt="bg-2"
            class="bg-2"
            v-if="!isMobile"
          />
          <!-- 煙火 -->
          <div class="bg-3" v-if="!isMobile">
            <!-- 這裡的圖片有動畫的話要換掉 -->

            <div class="bg-3-1">
              <img
                src="./imgs/fireworks1.png"
                srcset="
                  ./imgs/fireworks1@2x.png 2x,
                  ./imgs/fireworks1@3x.png 3x
                "
                alt="bg-3-1"
              />
            </div>

            <div class="bg-3-2">
              <img
                src="./imgs/fireworks2.png"
                srcset="
                  ./imgs/fireworks2@2x.png 2x,
                  ./imgs/fireworks2@3x.png 3x
                "
                alt="bg-3-2"
              />
            </div>

            <div class="bg-3-3">
              <img
                src="./imgs/fireworks3.png"
                srcset="
                  ./imgs/fireworks3@2x.png 2x,
                  ./imgs/fireworks3@3x.png 3x
                "
                alt="bg-3-3"
              />
            </div>
          </div>

          <img
            src="./imgs/repackdragon.png"
            srcset="
              ./imgs/repackdragon@2x.png 2x,
              ./imgs/repackdragon@3x.png 3x
            "
            alt="dragon"
            class="dragon"
          />

          <div class="textWrapper" ref="textWrapper">
            登入三立會員後
            <span>每天可玩3次，</span><br />
            <div class="dra-text">
              <span>每次遊戲時間30秒， </span>
              <span>每點擊1個紅包可獲得2分，</span>
            </div>
            <span>累積3000分</span>
            可抽超狂大獎！
          </div>
        </section>

        <!-- game -->

        <div class="game_wrap">
          <div class="game_area">
            <div
              class="game_box"
              v-if="isShowGameBox"
              ref="gameBox"
              :class="{ 'hide-overlay': !isShowOverlay }"
            >
              <!-- <div class="game-box-bg"></div> -->
              <!-- <div class="top-bg"></div> -->

              <div class="pop-up no-blur h-100 redPacketPopUp" ref="popUp">
                <div class="pop-up-container">
                  <img
                    class="close-btn"
                    src="./imgs/close.png"
                    alt="close"
                    srcset="./imgs/close@2x.png 2x, ./imgs/close@3x.png 3x"
                    @click="handlePopUpClose"
                  />

                  <!-- 遊戲次數用盡的區塊 -->

                  <div class="pop-up-wrapper" ref="popUpWrapper">
                    <p class="mt-40">今日遊戲次數已用盡</p>

                    <div class="ad-wrapper mt-24">
                      <!-- /21685920852/setn_event_2024cny_m_320x100 -->
                      <div
                        id="div-gpt-ad-1705307808192-0"
                        style="min-width: 320px; min-height: 100px"
                      >
                        <script>
                          googletag.cmd.push(function () {
                            googletag.display("div-gpt-ad-1705307808192-0");
                          });
                        </script>
                      </div>
                    </div>

                    <button class="dontBtn" @click="getPlayLog">
                      遊戲紀錄
                    </button>
                  </div>

                  <!-- 得獎紀錄區塊  -->

                  <div
                    class="pop-up-wrapper popUpWrapperRecord"
                    ref="popUpWrapperRecord"
                  >
                    <div id="redPacketLog">
                      <div class="redPacketWrapper">
                        <div class="centerWrapper">
                          <ul>
                            <li class="title">
                              <span class="titleDate">日期</span>
                              <span>分數</span>
                            </li>
                            <li
                              class="desc"
                              v-for="(item, index) in redPacketArr.slice(0,6)"
                              :key="item+index"
                            >
                              <span>{{item.formattedDate}}</span>
                              <span>{{item.score}} 分</span>
                            </li>
                          </ul>
                          <div class="accumulationText">
                            目前累積: <span>{{redPacketTotalScore}}</span>分
                          </div>
                          <div
                            @click="playAgain"
                            class="game_btn game_play again-btn"
                          >
                            再玩一次
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- 遊戲結束區塊 -->

                  <div
                    class="pop-up-wrapper popUpWrapperWinner"
                    ref="popUpWrapperWinner"
                  >
                    <p class="mt-20">遊戲結束</p>

                    <div class="ad-wrapper mt-8">
                      <!-- /21685920852/setn_event_2024cny_m_320x100 -->
                      <div
                        id="div-gpt-ad-1705307808192-2"
                        style="min-width: 320px; min-height: 100px"
                      >
                        <script>
                          googletag.cmd.push(function () {
                            googletag.display("div-gpt-ad-1705307808192-2");
                          });
                        </script>
                      </div>
                    </div>

                    <div class="ad-text">
                      <p>每天來玩就有機會獲得<span>豪華大獎</span></p>
                    </div>

                    <div class="accumulationText">
                      <p>恭喜你獲得: <span>{{ clickNum }}</span>分</p>
                      <p>目前累積: <span>{{redPacketTotalScore}}</span>分</p>
                    </div>

                    <div class="btn-group">
                      <div
                        @click="playAgain"
                        class="game_btn game_play again-btn"
                      >
                        再玩一次
                      </div>
                      <div
                        class="game_btn game_list again-btn"
                        @click="getPlayLog"
                      >
                        遊戲紀錄
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div
                @click="startGame"
                class="game_start"
                v-if="!isStartedRedPacket"
              >
                開始遊戲
              </div>
              <div class="start_time" v-if="isShowStartTime">
                {{ startTime }}
              </div>

              <div id="rain_list" v-if="isShowRainList">
                <div
                  v-for="(rain, index) in rainList"
                  :key="rain.id"
                  :id="rain.id"
                  :class="['rain_img', 'rain0' + rain.class, rain.styleClass]"
                  :style="'animation-duration: ' + rain.duration + 's;'"
                  @animationend="animationEndHandler(index)"
                  @click="rainClick(index)"
                ></div>
              </div>
            </div>

            <div class="game_tool_bar">
              <div class="tool_bar_left">
                <div class="game_time">
                  剩餘次數：<span>{{ redPacketQuota }}</span>
                </div>
                <div class="game_score">時間：<span>{{ stopTime }}</span></div>
                <div class="game_score">分數：<span>{{ clickNum }}</span></div>
              </div>
              <div class="tool_bar_right">
                <div
                  ref="recordBtn"
                  class="game_btn game_list"
                  @click="getPlayLog"
                >
                  遊戲紀錄
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- footer Start -->
      <footer>
        <div class="copyrightbox">
          ©2024 Sanlih E-Television All Rights Reserved
          <p class="copyright">版權所有 盜用必究</p>
        </div>
      </footer>
      <!-- footer End -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="./js/main.js"></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
    ></script>
  </body>
</html>
